.login-page {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../../../assets/images/abstractBG1.jpg");
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
